#bgnavbar {
  background: #33946f;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #c0f1dc;
}
#projects {
  background-color: #c0f1dc;
}
.card-text {
  background-color: #c0f1dc;
}
.card-body {
  background-color: #c0f1dc;
}
#puter {
  background: #33946f;
}
section {
  padding-top: 7rem;
}
